<form method="POST" action="/emp">
    {% csrf_token %}
    <div>
        <br>
        <p>
            <h3>Enter Details</h3>
        </p>
        <div>
            <p>Employee Id:</p>
            {{ form.eid }}
            {% if form.eid.errors %}
                <ul>
                    {% for error in form.eid.errors %}
                        <li style="color:red">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <p>Employee Name:</p>
            {{ form.ename }}
            {% if form.ename.errors %}
                <ul>
                    {% for error in form.ename.errors %}
                        <li style="color:red">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <p>Employee Email:</p>
            {{ form.eemail }}
            {% if form.eemail.errors %}
                <ul>
                    {% for error in form.eemail.errors %}
                        <li style="color:red">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <p>Employee Contact:</p>
            {{ form.econtact }}
            {% if form.econtact.errors %}
                <ul>
                    {% for error in form.econtact.errors %}
                        <li style="color:red">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <br>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>